[submodule "pybibtex"]
	path = pybibtex
	url = git@github.com:adamcw/pybibtex.git
[submodule "pybibdesk"]
	path = pybibdesk
	url = git@github.com:adamcw/pybibdesk.git
[submodule "pyarxiv"]
	path = pyarxiv
	url = git@github.com:adamcw/pyarxiv.git
